<!DOCTYPE html>
<html>

<h1>INFORMATION</h1>

    <ul>

      <% @results.each do |movie| %>
        <li><a href="/movies/<%="#{movie["id"]}"%>"> <%="#{movie["title"]}"%></a> - <%="#{movie["character"]}"%></li>
      <% end %>
    </ul>







</html>
