<!DOCTYPE html>
<html>

<h1>INFORMATION</h1>

    <ul>

      <% @results.each do |movie| %>
        <li> <%="#{movie["title"]}"%> - <%="#{movie["character"]}"%></li>
      <% end %>
    </ul>







</html>
