<!DOCTYPE html>
<html>


<h1> MOVIES </h1>
<h2>Movie</h2>
<h3>Genre</h3>
<h3>Studio</h3>


    <ul>
      <% @results.each do |actor| %>
        <li>
          <%="#{actor["character"]}"%>  --  <%="#{actor["name"]}"%>
        </li>
      <% end %>
    </ul>

</html>
